BE/env.properties
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/WellBodyForge.iml
env.properties
FE/.env
FE/.vite/deps_temp_2b3144f2/_metadata.json
FE/.vite/deps/_metadata.json
