@import "flatpickr/dist/flatpickr.min.css";
html,
body,
#root {
  height: 100%;
}
body {
  background-image: url("./public/unnamed.jpg");
  background-size: cover;
}
.welcome {
  color: white;
  text-align: center;
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.welcome2 {
  color: white;
  text-align: center;
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
  animation-delay: 1s;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#login:hover {
  cursor: pointer;
}
h2,
p,
h5,
h3 {
  color: black;
  margin: 10px;
  padding: 5px;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.mcard:hover {
  cursor: pointer;
}
.mcard {
  background-color: #fc7e006a;
  width: 200px;
  border: 2px solid #fc7e00;
  border-radius: 10px;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 158px;
}
.acard {
  background-color: #04556e4b;
  width: 200px;
  border: 2px solid #0069fc;
  border-radius: 10px;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 158px;
}
#prev,
#next :hover {
  cursor: pointer;
}
